/* General styles */
*, :after, :before {
    box-sizing: border-box;
}

/* AOS (Animate on Scroll) transitions */
[data-aos][data-aos-delay="300"].aos-animate,
body[data-aos-delay="300"] [data-aos] {
    transition-delay: .3s;
}

[data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}

[data-aos][data-aos-duration="500"],
body[data-aos-duration="500"] [data-aos] {
    transition-duration: .5s;
}

[data-aos][data-aos-delay="300"],
body[data-aos-delay="300"] [data-aos] {
    transition-delay: 0;
}

[data-aos][data-aos-easing="ease"],
body[data-aos-easing="ease"] [data-aos] {
    transition-timing-function: ease;
}

[data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}

[data-aos^=fade] {
    opacity: 0;
    transition-property: opacity, transform;
}

/* Fade Up Animation */
[data-aos="fade-up"] {
    transform: translate3d(0, 100px, 0);
}

/* Row & Column Layout */
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    /* margin-top: calc(-1 * var(--bs-gutter-y)); */
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

/* Banner Box Styles */
.single-banner-boxes {
    margin-bottom: 30px;
    border: 1px dashed #687b6f;
    position: relative;
    border-radius: 5px;
    padding: 25px 25px 25px 95px;
    background-color: rgba(0, 0, 0, .5);
    transition: .5s;
    z-index: 1;
}

.single-banner-boxes .icon {
    display: inline-block;
    text-align: center;
    width: 55px;
    height: 55px;
    position: absolute;
    left: 20px;
    top: 25px;
    line-height: 55px;
    background: #cdf1d8;
    border-radius: 50%;
    color: #44ce6f;
    transition: .5s;
}

.single-banner-boxes h3 {
    color: #fff;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
}

.single-banner-boxes p {
    color: #dadada;
    transition: .5s;
    line-height: 1.8;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Icon specific styling */
.col-lg-4:nth-child(3) .single-banner-boxes .icon {
    color: #c679e3;
    background: #edc3fc;
}

@media only screen and (max-width: 767px) {
    .single-banner-boxes {
        padding: 20px 20px 20px 85px;
    }

    .single-banner-boxes .icon {
        width: 50px;
        height: 50px;
        left: 15px;
        top: 20px;
        line-height: 50px;
    }

    .single-banner-boxes h3 {
        margin-bottom: 10px;
        font-size: 17px;
    }
}
