.user_sidebar {
  width: 250px;
  height: auto;
  background-color: #f0f8ff;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevent overflow outside the container */

}
.scrollable-menu {
  flex-grow: 1; /* Ensures this section grows to fill remaining height */
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}
.user_sidebar.dark {
  background-color: #1e1e2f;
  color: #f5f5f5;
}
.user_sidebar.light {
  background-color: #f0f8ff;
  color: #333;
}
.logo {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu li:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.menu li svg {
  margin: 10px 15px 10px 0px;
  font-size: 1.45rem; /* Medium icon size */
}

.user_sidebar.dark .menu li:hover {
  background-color: #555;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease;
}

.dark-mode-toggle:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.user_sidebar.dark .dark-mode-toggle:hover {
  background-color: #555;
}

.dark-mode-toggle svg {
  margin-right: 10px;
}

.user_sidebar.collapsed {
  width: 80px;
  padding: 10px; 
}
.user_sidebar.collapsed .logo {
  /* font-size: 0; */
  overflow: hidden;
}

.user_sidebar.collapsed .menu li {
  padding: 15px; 
}

.user_sidebar.collapsed .menu li svg {
  font-size: 1.3rem; 
  margin: 0;
}

/* .user_sidebar.collapsed .menu li span {
  display: none; 
} */
.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.menu-item:hover {
  background-color: var(--user_sidebar-hover-bg-color);
}

.menu-item span {
  /* margin-left: 10px; */
  flex: 1;
}

.submenu {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 20px;
}

.submenu-item {
  padding: 8px 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submenu-item:hover {
  background-color: var(--user_sidebar-hover-bg-color);
}

.menu-item.active, .submenu-item.active {
  background-color: #4CAF50; /* Green background for active links */
  color: white; /* White text for active links */
}

.menu-item.active a, .submenu-item.active a {
  color: white; /* White text for links inside active menu */
}

.menu-item, .submenu-item {
  transition: background-color 0.3s, color 0.3s;
}

@media screen and (max-width: 768px) {
  .user_sidebar {
    max-height: 100%;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
