p{
  color: #6084a4;
}
li{
  color: #6084a4;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol,
ul {
  padding-left: 0;
}
.single-footer-widget ul.list li {
  margin-bottom: 10px;
}
.single-footer-widget ul.list li a {
  color: #6084a4;
}

