/* Base Styles */
body {
    margin: 0;
    font-family: "Arial", sans-serif;
  }
  
  /* Sign-Up Page Container */
  .signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #6a11cb, #2575fc);
  }
  
  /* Sign-Up Container */
  .signup-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
  }
  
  /* Title */
  .signup-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  /* Form */
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .login-page label {
    font-size: 14px;
    color: #555;
  }
  
  .login-page input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
 .login-page input:focus {
    outline: none;
    border-color: #ff7e5f;
    box-shadow: 0 0 5px rgba(255, 126, 95, 0.5);
  }
  
  /* Button */
  .signup-button {
    padding: 10px;
    background-color: #ff7e5f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .signup-button:hover {
    background-color: #feb47b;
  }
  
  /* Footer */
  .signup-footer {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .signup-footer a {
    color: #ff7e5f;
    text-decoration: none;
  }
  
  .signup-footer a:hover {
    text-decoration: underline;
  }
  