@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .nav-bar.dark .nav-link {
color: #003366;
} */

/* body{
  background-color: white;
  color: #003366;
} */
